In [1]:
x=2
y=3
z=x+y
print(z)

5

In [ ]:
#Rules for declaring the variables:

In [ ]:
#Rule No1:No namespaces while declaring the variables

In [2]:
name='sandhya'
print(first name)
input In[3]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2780868499.py, line 2)

In [3]:
Firstname='sandhya'
print(firstname)

NameError: name 'firstname' is not defined

In [4]:
Firstname='sandhya'
print(Firstname)

sandhya

In [5]:
first_name='sandhya'
print(first_name)

sandhya

In [ ]:
# Rule No2:A variable name should not start with a number

In [6]:
1name='kiran'
print(1name)

SyntaxError: invalid decimal literal (3825446166.py, line 1)

In [7]:
name1='kiran'
print(name1)

kiran

In [ ]:
# Rule No3: A variable name should not contain any special characters @ $ % & *

In [8]:
name@='aaiyda'
print(name@)

SyntaxError: invalid syntax (298481300.py, line 2)

In [9]:
name='aaiyda'
print(name)

aaiyda

In [ ]:
# Datatypes in Python
 1 String---> str
 2 Number--->integer(int), float(decimal)-->float
 3 Lists-->list
 4 Tuple--->tuple
 5 Dictionaries--->dict

Classification of datatypes

1.Mutable datatypes==>which we can edit alter
2.Immutable datatype==>which we cannot be able to edit/alter

In [ ]:
# Introduction to string datatypes
defination: A string is a series of character declared in quotes.

classification:  It is classfied as an immutable datatype

In [ ]:
# how to declare the String
1. Single  quote
2. Double quote

In [10]:
name='Aayman' #single quote
print(name)

Aayman

In [11]:
name1="Pratheek" #double quote
print(name1)

Pratheek

In [ ]:
# Understanding the string methods: type, .title(),.upper(),.lower()

In [12]:
type(name)

str

In [13]:
type(name1)

str

In [14]:
fullname="Sriram pratheek"
print(fullname)

Sriram pratheek

In [15]:
print(fullname.title())

Sriram Pratheek

In [16]:
print(fullname.upper())

SRIRAM PRATHEEK

In [17]:
print(fullname.lower())

sriram pratheek